.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    &__text {
        color: white;
        font-size: 30px;
        font-weight: bold;
        width: 250px;
        text-align: center;

        &__edit {
            background-color: rgb(61, 178, 116);
            padding: 13px 10px;
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.edit__form {
    display: flex;
    flex-direction: column;

    &__title {
        color: white;
        text-align: center;
        margin-bottom: 40px;
        font-size: 25px;
    }

    &__label {
        color: white;
        margin-right: 10px;

        &__input {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
        }
    }

    &__buttons__style {
        background-color:  rgb(61, 178, 116);
        border: none;
        padding: 15px 60px;
        border-radius: 3px;
        margin-top: 40px;
        margin-right: 10px;
        color: white;
        font-weight: 500;
    }

    &__input {
        border-radius: 5px;
        height: 29px;
        width: 155px;

        &__unchanged {
            border-radius: 5px;
            height: 29px;
            width: 155px;
            background-color: rgb(214, 214, 214);
            color:  rgb(143, 143, 143) ;
        }
    }
}

.label__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}