.advantages {

    &__detail {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        text-align: center;
        
        &__titlesubtitle {
            width: 390px;
            margin-left: 85px;
            margin-top: 10px;
        }

        &__image {
            width: 130px;
            height: 130px;
            border: 10px solid rgb(61, 178, 116);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 220px;
        }

        &__title {
            font-size: 22px;
            font-weight: bold;
            color: rgb(70, 70, 70);
        }

        &__subtitle {
            font-size: 16px;
            width: 430px;
        }
    }

    &__image {
        width: 100px;
        height: 100px;
    }
}


@media screen and (max-width: 768px) {
    .advantages {
        display: flex;
        justify-content: center;
        align-items: center;

        &__detail {
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            &__titlesubtitle {
                margin-left: 0;
                width: 300px;
            }

            &__image {
                margin-left: 0;
                width: 100px;
                height: 100px;
            }

            &__subtitle {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .advantages {
        display: flex;
        justify-content: center;
        align-items: center;

        &__detail {
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            &__titlesubtitle {
                margin-left: 0;
                width: 300px;
            }

            &__image {
                margin-left: 0;
                width: 100px;
                height: 100px;
            }

            &__subtitle {
                width: 100%;
            }
        }
    }
}